{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title%}ShURL - Shorten your URLs with easy!{% endblock %}
{% block content %}

<div class="container d-flex justify-content-md-center">
<h1>ShURL - Shorten your URLs with easy!</h1>
</div>

<div class="container">
    <div class="row justify-content-md-center">
        <form action="." method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-success btn-lg" value="Generate" />
        </form>
    </div>
</div>


{% endblock %}
